- content_for :meta do
  %meta{ :name => "sortable_path", :content => sort_admin_photos_path(:gallery_id => @gallery.to_param) }

= simple_form_for(@gallery, :url => admin_gallery_path(@gallery), :method => :put, :html => { :class => 'form-vertical' }) do |form|
  = render form

%div{ :style => "width:100%; float:left;" }
  %br
  %ul.image_list#sorted-image-list
    = render :partial => "admin/photos/photo", :collection => @gallery.photos