-content_for :sidebar do
  %h2
    Manage Galleries
  %p
    Galleries are used to showcase your photos. The galleries you enter here will appear in the home page slides and throughout the rest of the site.
  %p
    You can change the order that galleries appear in by clicking and dragging their title bars.
  %p
    You can create a new gallery by clicking the "New Gallery" button.
  %p
    You can manage a gallery's photos by clicking it's "Photos" link.
  %p
    You can edit a gallery by clicking it's "Edit" link.
  %p
    You can delete a gallery by clicking the red X button.

%p
  %a.button{ :href => new_resource_path }
    %button.blue
      %span New Gallery &raquo;

%p{ :class => 'clear' }

%ul{ :id => 'position_container', :class => 'image_list' }
  = render :partial => "row", :collection => @galleries

