.DS_Store
.rvmrc
config/database.yml
config/heroku.yml
config/initializers/devise.rb
config/initializers/secret_token.rb
config/initializers/session_store.rb
db/schema.rb
db/*.sql
db/*.sqlite3
log/*.*
tmp/*.txt
tmp/**/*
public/uploads
public/assets
vendor/gems/**/*