#intro
  %h1 Sitemap
#content
  #main
    %ul
      %li
        %h3= link_to(h(@config.comapny_name), '/', :title => h(@config.comapny_name))
      %li
        %h3 Galleries
        %ul
          - for gallery in @galleries
            %li= link_to h(gallery.title), gallery_path(gallery), :title => h(gallery.title)
        %br
      %li
        %h3 Pages
        %ul
          - for page in @pages
            %li= link_to h(page.title), page_path(page), :title => h(page.title)
  #sidebar
    = render :partial => '/sidebar'
