-content_for :sidebar do
  %h2 Welcome
  %p From here you can review and comment on the photos from your booking.

- if flash[:notice]
  %h2= flash[:notice]
  %p Welcome to your own personalized client section. Once your bookings have become available you can review and comment on your photos.