- content_for :title do
  Dashboard: Recent Events

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Description
      %th Occurred at
  %tbody
    - @events.each do |obj|
      %tr
        %td= obj.description
        %td= obj.created_at.strftime("%b %d, %Y at %l:%M %p")

%p= paginate @events