= simple_form_for(@portfolio, :url => resource_path, :html => { :multipart => true, :method => :put }) do |form|
  = render form

%div{ :style => "width:100%; float:left;" }
  %br
  %ul#position_container.image_list{ :collection_path => photog_portfolio_portfolio_photos_path(@portfolio) }
    = render :partial => "photo", :collection => @portfolio.portfolio_photos