= simple_form_for(@gallery, :url => resource_path, :html => { :multipart => true, :method => :put }) do |form|
  = render form

%div{ :style => "width:100%; float:left;" }
  %br
  %ul.image_list
    = render :partial => "photo", :collection => @gallery.photos