html
  font-family: 'Roboto', sans-serif

.LeftNav a
  display: block
  color: black
  text-decoration: none
  &.active
    color: blue

.grid-item
  margin-bottom: 15px
  width: 100%

  @media screen and (min-width: 560px)
    width: 48%

  @media screen and (min-width: 1024px)
    width: 32%

  @media screen and (min-width: 1280px)
    width: 24%
