#footer
  = "Copyright &copy; 2010, #{h(@config.company_name)}, All Rights Reserved"
  %small
    = link_to('grokphoto.org', 'http://grokphoto.org', :target => '_blank', :style => 'float:right;', :title => 'GrokPhoto - Open-source Photography')