@import '../sass-plugins/reset'
@import '../sass-plugins/typography'
@import '../sass-plugins/grid'
@import '../sass-plugins/form'
@import '../sass-plugins/button'

h1
  margin-top: 0

#container
  +row

#header
  +column(12, true)
  margin: 0 0 20px 0
  border-bottom: 1px solid #888

  ul
    padding: 0
    margin: 0
    list-style-type: none

  li
    float: left
    padding: 10px

  #logo
    +column(6, false)

  #main_nav
    +column(5, false)

  #secondary_nav
    +column(1, true)

#main
  +column(12, true)

  #sidebar
    +column(3, false)

    .box
      background-color: #ddd
      padding: 10px
      h2
        margin-top: 0
        font-size: 1.8em

  #content
    +column(9, true)

#footer
  +column(12, true)
  margin: 20px 0 0 0
  padding: 10px 0
  border-top: 1px solid #888


ul.image_list
  margin: 0
  padding: 0
  list-style-type: none

  li
    float: left
    width: 150px
    padding: 6px
    margin: 0 15px 15px 0
    border: 1px solid #aaa

    div.title
      padding: 5px
      margin-bottom: 5px
      background-color: #ddd

    div.draggable
      cursor: pointer

    a.delete
      float: right
