login: &login
  adapter: mysql
  username: root #TODO - change this to your database username
  password: #TODO - change this to your database password
  database: grokphoto #TODO - change this to your database
  
development:
  <<: *login
  socket: /tmp/mysql.sock

test: &TEST
  <<: *login
  socket: /tmp/mysql.sock

production:
  <<: *login
  socket: /var/run/mysqld/mysqld.sock

cucumber:
  <<: *TEST