#
# Format:
#
# <heroku_san shorthand name>:
#   app: <Heroku app name>
#   config:
#     - <Heroku config:var name>: <Heroku config:var value>
#
production:
  app: change_me
  config:
    BUNDLE_WITHOUT: "development:test"
    GOOGLE_ANALYTICS: "UA-change_me"

#staging:
#  app: change_me-staging
#  config: &default
#    BUNDLE_WITHOUT: "development:test"

#demo:
#  app: change_me-demo
#  config: *default