- content_for :title, @private_gallery.name

%ul.thumbnails
  - @private_gallery.photos.each do |photo|
    %li.span3
      = link_to(image_tag(photo.photo.thumb('260x173!').url, :size => '260x173'), photo.photo.url, :class => "thumbnail", :rel => 'lightbox', :title => photo.name)