- content_for :title, @post.title
- unless @post.keywords.blank?
  - content_for :subtitle do
    - @post.keywords.split(', ').each do |keyword|
      %span.label.label-info= keyword

= image_tag(@post.image.url, :class => 'post-image') if @post.image_uid
= @post.body.to_html.html_safe

- if photographer.disqus_short_name
  = render :partial => 'shared/disqus'