#footer
  / old Rails 2.3.9 string escaping:
  /= "Copyright &copy; 2010, #{h(@config.company_name)}, All Rights Reserved"
  = "Copyright &copy; 2010, #{(@config.company_name)}, All Rights Reserved".html_safe

  %small
    = link_to('grokphoto.org', 'http://grokphoto.org', :target => '_blank', :style => 'float:right;', :title => 'GrokPhoto - Open-source Photography')
