:javascript
  var flashvars = {};
  flashvars.xml = "galleries.xml";
  flashvars.font = "font.swf";
  var attributes = {};
  attributes.wmode = "transparent";
  attributes.id = "slider";
  swfobject.embedSWF("/cu3er.swf?a=#{rand(9999999)}", "cu3er-container", "900", "360", "7", "expressInstall.swf", flashvars, attributes);
	
#content
  -# aspect ratio is 6:2 = 3:2 x 2 acrross (2 photos at 3:2)
  #cu3er-container
    = link_to image_tag('http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif', :alt => 'Get Adobe Flash player'), "http://www.adobe.com/go/getflashplayer"

%p{ :class => 'clearfix' }
