#intro
  %h1= h(@page.intro.blank? ? h(@page.title) : h(@page.intro))
#content
  #main
    = image_tag(@page.image.url, :alt => h(@page.title)) if @page.image?
    = @page.body.markdown.html_safe
  #sidebar
    = render :partial => '/sidebar'
