!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %meta{ :content => "chrome=1", "http-equiv" => "X-UA-Compatible" }
    %title Configuration Error
    %style{:type => "text/css", :media => "screen"}
      body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
      div.dialog {
      width: 25em;
      padding: 0 4em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
      }
      h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
  %body
    .dialog
      %h1 Configuration Error
      %p Configuration is invalid. Please make sure the database has been seeded with rake db:seed
      %p= "Error Message:<br />\"#{flash[:error]}\"" if flash[:error]
