%h2 SEO Related Fields
= form.input :meta_title, :hint => "The title for display in search results"
= form.input :keywords, :hint => 'Enter some relevant keywords. I.e. portrait, family, kids, lifestyle, etc.'
= form.input :meta_description, :as => :text, :hint => 'Brief description for display in search results.'
