:javascript
  $(document).ready(function() {
    $('#slides').cycle({
  		timeout: 4500,
      speed: 2000
  	});
  });
	
#content
  #slides
    - for gallery in @galleries
      = link_to(image_tag(gallery.image.url, :size => '960x540', :alt => h(gallery.title), :title => h(gallery.title)), gallery_path(gallery))
