-content_for :sidebar do
  %h2 Manage Quotes
  %p Quotes are where you can post testimonials from past clients.
  %p You can change the order that quotes appear in by clicking and dragging their title bars.
  %p You can create a new quote by clicking the "New Quote" button.
  %p You can edit a quote by clicking it's "Edit" link.
  %p You can delete a quote by clicking the red X button.

= build_link_button("New Quote &raquo;", new_resource_path)

%p{ :class => 'clear' }

%ul{ :id => 'position_container', :class => 'image_list' }
  = render :partial => "row", :collection => @quotes

